* {
	margin: 0;
	box-sizing: border-box;
	border-box: 0;
	font-family: 'Futura', sans-serif;
  color: #665853;
}
.row {
	display: flex;

}
.col {
  background-color: #FFFFFF;
  text-align: center;
	flex: 1;
  margin: 0 5%	;
	float: left;


}
h1 {
	display: inline;
  font-weight: 600;
  font-size: 4.4em;
}
h2 {
  padding: 70px 0 0 0;
  font-weight: 100;
  font-size: 2em;
}
nav {
  height: 30px;
  display: block;
}
nav ul {
  text-align: center;
	padding: 0;
}
nav ul li {
  display: inline-block;
  margin: auto 10px;
  letter-spacing: 2px;
  font-size: 1.1em;
  font-weight: 600;
}
nav ul li:last-child {
  margin-right: 0;
}
nav ul li:first-child {
  margin-left: 0;
}
nav ul li a{
    color: #a4a4a4;
    font-weight: 100;
    text-decoration: none;
    display: block;
    transition: ease .7s;
}
img {
		width: 100%;
		height: inherit;
}
p{
		text-align: left;
		font-family: arial;
		font-weight: lighter;
		font-style: italic;
		font-size: 11pt;
		padding: 40px 0 3px 0;
}
.ctc{
	text-align: center;
	font-family: arial;
	font-style:: bold;
	font-size: 11pt;
	padding: 190px 0 0 0;
}
.rights{
	text-align: center;
	font-family: arial;
	font-weight: lighter;
	font-size: 11pt;
	padding: 1px 0 10px 0;
}

/*----Universal End*----*/
#logo {
	display: inline-block;
  height: 58px;
  width: 161px;
}
#rodney {
  height: 374px;
  width: 461px;
  display: block;
  margin: auto;
}
/*----Hover----*/
nav ul li a:hover{
    color: #665853;
  }
nav ul li a:active{
      color: white;
  }
/*----Animation----*/

#light1, #light2{

  animation: hideshow .2s ease infinite;
}
@-webkit-keyframes fade {
  0% { opacity: .1; }
  100% { opacity: .3; }
}
@-moz-keyframes fade {
  0% { opacity: .1; }
  100% { opacity: .3; }
}
@-o-keyframes fade {
  0% { opacity: .1; }
  100% { opacity: .3; }
}
@keyframes fade {
  0% { opacity: .1; }
  100% { opacity: .3; }
}

#shadow, #screen, #eyeglass {
  animation: fade .2s ease infinite;
}
@-webkit-keyframes fade {
  0% { opacity: 1; }
  100% { opacity: .6; }
}
@-moz-keyframes fade {
  0% { opacity: 1; }
  100% { opacity: .6; }
}
@-o-keyframes fade {
  0% { opacity: 1; }
  100% { opacity: .6; }
}
@keyframes fade {
  0% { opacity: 1; }
  100% { opacity: .6; }
}
#h2 {

  animation: hideshow 1s ease infinite;
}
@-webkit-keyframes hideshow {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes hideshow {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes hideshow {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes hideshow {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

#gh1 {

  animation: hideshow .5s ease infinite;
}
@-webkit-keyframes hideshow {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes hideshow {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes hideshow {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes hideshow {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

/*Work page
#icons{
	position: relative;

	width: 96px;
	height: 96px;
	margin: 50px 30px 30px 30px;
}
#icons{
	position: relative;
	width: 96px;
	height: 96px;
	margin: 50px 30px 30px 30px;
}*/
/*---Media Query----*/
@media screen and (max-width: 900px) {
	.col{
		overflow: visible;
	}
	h1 {
		font-size: 3.4em;
	}
	h2 {
		padding: 100px 0 0 0;
		font-weight: 100;
		font-size: 1em;
	}
	nav ul li {
		display: inline-block;
		margin: auto 10px;
		letter-spacing: 2px;
		font-size: .2em;

	}
	#rodney {
		height: 60%;
		width: 70%;
		display: block;
		margin-top: 20px;
	}
	.ctc{
		text-align: center;
		font-family: arial;
		font-style:: bold;
		font-size: 7pt;
		padding: 15	0px 0 0 0;
	}
	.rights{
		text-align: center;
		font-family: arial;
		font-weight: lighter;
		font-size: 7pt;
		padding: 10px 0 10px 0;
	}
}
